/*
- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

#### Gradients

These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

### Secondary

- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%)

font-family: 'Rubik', sans-serif; avail in 400, 500, 700
*/
body{
    font-family: 'Rubik', sans-serif;
    background-color:hsl(270, 20%, 96%); 
}
*{
    font-family: 'Rubik', sans-serif;
}
h2, h3, p{
    font-family: 'Rubik', sans-serif;
}

.background-img{
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    position: absolute;
    top: -20rem;
    left: -3rem;
    width: 15rem;
    height: 50rem;
    border-bottom-right-radius: 15rem;

}
.phone-shape{
    width: 15rem;
    height: 30rem;
    margin: 3rem auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    box-shadow: 5px 5px 15px #ddd;
}
.screen-shape{
    width: 14rem;
    height: 29rem;
    margin: .5rem auto;
    border-radius: 2rem;
    background-color: hsl(270, 20%, 96%); 
    transform: translateY(.5rem);

}
.conversation-header{
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-radius: 2rem 2rem .5rem .5rem;
    height: 4rem;
    display: flex;
}
.conversation-text{
    display: flex;
    color: white;
    padding-top: 1.3rem;
}
.user-text{
    padding-left: .3rem;
}
.user-text h3{
    font-size: .8rem;
    font-family: 'Rubik', sans-serif;
}
.user-text small{
    font-size: .7rem;
}
.phone-shape-top{
    background-color: hsl(0, 0%, 100%);
    width: 8rem;
    height: 1.5rem;
    position: absolute;
    top: -.5rem;
    left: 3rem;
    border-radius: 3rem;
}
.profile-pic{
    width: 1.75rem;
    border-radius: 100%;
    border: 1px solid white;

}
.arrow-holder{
    padding: 2rem .5rem;
    display: inline;
}
.triangle-left-visibile {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid white;
    border-bottom: 5px solid transparent;
  }
  .triangle-left-invisible {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid hsl(264, 100%, 61%);
    border-bottom: 5px solid transparent;
    transform: translateX(.5rem);
  }
  .left{
      float: left;
  }
  .left-text{
    float: left;
    background-color: #eae7f0;
    color: hsl(276, 55%, 52%);
    box-shadow: 2px 2px 7px #ddd;
  }
  .right-text{
    float: right;
    right: 0;
    background-color: white;
    box-shadow: 2px 2px 7px #ddd;
  }
  .text {
    max-width: 9rem;
    border-radius: .5rem;
    margin: .4rem;
    font-size: .6rem;
    padding: .4rem;
    line-height: 1.2;
  }
  .walk-option{
      width: 10rem;
      height: 2rem;
      margin: .4rem;
      background-image: linear-gradient(to left, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
      border-radius: .5rem;
      color: white;
  }
  .checkbox{
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border: 1px solid white;
      border-radius: 50%;
      margin: .5rem;
  }
  .walk-duration{
      font-size: .6rem;
      font-family: 'Rubik', sans-serif;
      padding-left: .5rem;
      position: absolute;
      transform: translateY(.7rem);
  }
  .walk-price{
      float: right;
      font-weight: 700;
      font-family: 'Rubik', sans-serif;
      margin: .5rem;
  }
  form{
      margin: 0 auto;
  }
  input{
      width: 12rem;
      margin: 2rem auto 1rem;
      height: 2rem;
      border-radius: 2rem;
      border-style: none;
  } 





.landing-text{
    width: 90%;
    margin: 3rem auto;
    text-align: center;
}
.landing-text h2{
    padding: 1rem 0rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(271, 36%, 24%);
}

.landing-text p{
    font-size: 1.3rem; 
    line-height: 1.3;
    color: hsl(270, 7%, 64%);
}
.attribution{
    font-size: .7rem;
    text-align: center;
}